<%- include("header") -%>


<div class="box" id="heading">
    <h1> <%= list_title %> </h1>

</div>

<div class="box">


    <!-- <% for(var i = 0; i<new_items.length; i++){ %>
    <div class="item">
        <input type="checkbox">
        <p> <%= new_items[i].name %> </p>

    </div>

    <%  } %> -->


    <% new_items.forEach(item => { %>

    <form action="/delete" method="post">
        <div class="item">
            <input type="checkbox" name ="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
            <p> <%= item.name %> </p>
        </div>

        <input type="hidden" name="list_name" value="<%= list_title %>">
    </form>
    <% });  %>






    <form class="item" action="/" method="post">

        <input type="text" placeholder="Add items" name="newItem" autocomplete="off">
        <button type="submit" name="list_name" value=<%= list_title %>> + </button>
    </form>


</div>







<%- include("footer") -%>